/*==============================
=            LOADER            =
==============================*/

#loader {
    position: absolute;
    z-index: 11;
    height: 300%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: #2884F6;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#loader section svg{
    width: 130px;
    padding-left: 20px;
}
#loader.hide {
    opacity: 0;
}
#loader .container-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
#loader .container-bg .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#loader .container-bg .bg-filter {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    opacity: 1;
}
#loader .container-bg .bg.show-qonto {
    background: -webkit-gradient(linear, left top, right top, from(#5041B2), to(#7969E6));
    background: -webkit-linear-gradient(left, #5041B2 0%, #7969E6 100%);
    background: -o-linear-gradient(left, #5041B2 0%, #7969E6 100%);
    background: linear-gradient(90deg, #5041B2 0%, #7969E6 100%);
}
#loader .container-bg .bg.show-marks {
    background: -webkit-gradient(linear, left top, right top, from(#FD8355), color-stop(37.02%, #F0576C), to(#F79CBD));
    background: -webkit-linear-gradient(left, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
    background: -o-linear-gradient(left, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
    background: linear-gradient(90deg, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
}
#loader .container-bg .bg.show-chauffeurprive {
    background: -webkit-gradient(linear, left top, right top, from(#CE0C2A), to(#DC6C7F));
    background: -webkit-linear-gradient(left, #CE0C2A 0%, #DC6C7F 100%);
    background: -o-linear-gradient(left, #CE0C2A 0%, #DC6C7F 100%);
    background: linear-gradient(90deg, #CE0C2A 0%, #DC6C7F 100%);
}
#loader .container-bg .bg.show-lecollectionist {
    background: -webkit-gradient(linear, right top, left top, from(#FAF0E7), to(#EFE5DC));
    background: -webkit-linear-gradient(right, #FAF0E7 0%, #EFE5DC 100%);
    background: -o-linear-gradient(right, #FAF0E7 0%, #EFE5DC 100%);
    background: linear-gradient(270deg, #FAF0E7 0%, #EFE5DC 100%);
}
#loader.show-lecollectionist svg g g g g path {
    fill: #363F54 !important;
}
#loader .container-bg .bg.show-orangelabs {
    background: -webkit-gradient(linear, right top, left top, from(#F0613C), to(#F0783C));
    background: -webkit-linear-gradient(right, #F0613C 0%, #F0783C 100%);
    background: -o-linear-gradient(right, #F0613C 0%, #F0783C 100%);
    background: linear-gradient(270deg, #F0613C 0%, #F0783C 100%);
}
#loader .container-bg .bg.show-mondocteur {
    background-color:#FF6C75;
}
#loader .container-bg .bg.show {
    opacity: 1;
}
#loader-anim {
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#loader-anim.style-qonto svg g g g g path {
    fill: #FFF !important;
}
#loader-anim.style-marks svg g g g g path {
    fill: #FFF !important;
}
#loader-anim.style-chauffeurprive svg g g g g path {
    fill: #FFF !important;
}
#loader-anim.style-lecollectionist svg g g g g path {
    fill: #363F54 !important;
}
#loader-anim.style-orangelabs svg g g g g path {
    fill: #FFF !important;
}
#loader-anim.style-mondocteur svg g g g g path {
    fill: #FFF !important;
}
/*=====  End of LOADER  ======*/

/*====================================
=            Section HOME            =
====================================*/

#header-desktop .container-rs
{
    top: calc(80vh - 210px);
    opacity: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
#header-desktop .container-rs.show
{
    opacity: 1;
}

#section-home {
    position: relative;
    height: 80vh;
    min-height: 700px;
    margin-bottom: 20vh;
}
#section-home .container-caroussel {
    position: relative;
    height: 100%;
    min-height: 700px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel .container-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
}
#section-home .container-caroussel .container-bg:after {
    content: '';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 20vh;
    max-height: calc(100vh - 700px);
    background-color: #FFF;
    left: 0px;
    bottom: 0px;
    will-change: transform;
    -webkit-transform: translateZ(0) translateY(100%);
    -ms-transform: translateZ(0) translateY(100%);
    transform: translateZ(0) translateY(100%);
    -webkit-transition: all 1s cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -o-transition: all 1s cubic-bezier(0.000, 0.785, 0.000, 1.000);
    transition: all 1s cubic-bezier(0.000, 0.785, 0.000, 1.000);
}
#section-home .container-caroussel .container-bg.show:after {
    -webkit-transform: translateZ(0) translateY(0%);
    -ms-transform: translateZ(0) translateY(0%);
    transform: translateZ(0) translateY(0%);
}
#section-home .container-caroussel .container-bg .bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#section-home .container-caroussel .container-bg .bg-filter {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 1;
    opacity: 1;
}
#section-home .container-caroussel .container-bg .bg.bg-qonto {
    background: -webkit-gradient(linear, left top, right top, from(#5041B2), to(#7969E6));
    background: -webkit-linear-gradient(left, #5041B2 0%, #7969E6 100%);
    background: -o-linear-gradient(left, #5041B2 0%, #7969E6 100%);
    background: linear-gradient(90deg, #5041B2 0%, #7969E6 100%);
}
#section-home .container-caroussel .container-bg .bg.bg-marks {
    background: -webkit-gradient(linear, left top, right top, from(#FD8355), color-stop(37.02%, #F0576C), to(#F79CBD));
    background: -webkit-linear-gradient(left, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
    background: -o-linear-gradient(left, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
    background: linear-gradient(90deg, #FD8355 0%, #F0576C 37.02%, #F79CBD 100%);
}
#section-home .container-caroussel .container-bg .bg.bg-chauffeurprive {
    background: -webkit-gradient(linear, left top, right top, from(#CE0C2A), to(#DC6C7F));
    background: -webkit-linear-gradient(left, #CE0C2A 0%, #DC6C7F 100%);
    background: -o-linear-gradient(left, #CE0C2A 0%, #DC6C7F 100%);
    background: linear-gradient(90deg, #CE0C2A 0%, #DC6C7F 100%);
}
#section-home .container-caroussel .container-bg .bg.bg-lecollectionist {
    background: -webkit-gradient(linear, right top, left top, from(#FAF0E7), to(#EFE5DC));
    background: -webkit-linear-gradient(right, #FAF0E7 0%, #EFE5DC 100%);
    background: -o-linear-gradient(right, #FAF0E7 0%, #EFE5DC 100%);
    background: linear-gradient(270deg, #FAF0E7 0%, #EFE5DC 100%);
}
#section-home .container-caroussel .container-bg .bg.bg-orangelabs {
    background: -webkit-gradient(linear, right top, left top, from(#F0613C), to(#F0783C));
    background: -webkit-linear-gradient(right, #F0613C 0%, #F0783C 100%);
    background: -o-linear-gradient(right, #F0613C 0%, #F0783C 100%);
    background: linear-gradient(270deg, #F0613C 0%, #F0783C 100%);
}
#section-home .container-caroussel .container-bg .bg.bg-mondocteur {
    background: -webkit-gradient(linear, right top, left top, from(#6ced61), to(#19910e));
    background: -webkit-linear-gradient(right, #6ced61 0%, #19910e 100%);
    background: -o-linear-gradient(right, #6ced61 0%, #19910e 100%);
    background: linear-gradient(270deg, #6ced61 0%, #19910e 100%);
}
#section-home .container-caroussel .container-bg .bg.show {
    opacity: 1;
}
#section-home .container-caroussel .container-text {
    width: 40%;
    position: absolute;
    z-index: 2;
    top: calc(50% + 40px);
    right: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel.show-qonto .container-text,
#section-home .container-caroussel.show-qonto .container-text a {
    color: #FFF;
}
#section-home .container-caroussel.show-marks .container-text,
#section-home .container-caroussel.show-marks .container-text a {
    color: #FFF;
}
#section-home .container-caroussel.show-chauffeurprive .container-text,
#section-home .container-caroussel.show-chauffeurprive .container-text a {
    color: #FFF;
}
#section-home .container-caroussel.show-lecollectionist .container-text,
#section-home .container-caroussel.show-lecollectionist .container-text a {
    color: #363F54;
}
#section-home .container-caroussel.show-orangelabs .container-text,
#section-home .container-caroussel.show-orangelabs .container-text a {
    color: #FFF;
}
#section-home .container-caroussel.show-mondocteur .container-text,
#section-home .container-caroussel.show-mondocteur .container-text a {
    color: #FFF;
}
#section-home .container-caroussel .container-text > p:nth-child(1) {
    opacity: 0;
    font-family: National-Regular;
    font-size: 16px;
    margin-bottom: 8px;
    position: relative;
    display: inline-block;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel .container-text > p.show:nth-child(1) {
    opacity: 0.5;
}
#section-home .container-caroussel .container-text > p:nth-child(1):before {
    content: '';
    position: absolute;
    top: 50%;
    right: calc(100% + 11px);
    height: 1px;
    width: 19px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel.show-qonto .container-text > p:nth-child(1):before {
    background-color: #FFF;
}
#section-home .container-caroussel.show-marks .container-text > p:nth-child(1):before {
    background-color: #FFF;
}
#section-home .container-caroussel.show-chauffeurprive .container-text > p:nth-child(1):before {
    background-color: #FFF;
}
#section-home .container-caroussel.show-lecollectionist .container-text > p:nth-child(1):before {
    background-color: #363F54;
}
#section-home .container-caroussel.show-orangelabs .container-text > p:nth-child(1):before {
    background-color: #FFF;
}
#section-home .container-caroussel.show-mondocteur .container-text > p:nth-child(1):before {
    background-color: #FFF;
}
#section-home .container-caroussel .container-text > p:nth-child(2) {
    font-family: National-Bold;
    font-size: 35px;
}
#section-home .container-caroussel .container-text > p:nth-child(3) {
    opacity: 0.4;
    font-family: National-Bold;
    font-size: 40px;
}
#section-home .container-caroussel .container-text > p:nth-child(2) span,
#section-home .container-caroussel .container-text > p:nth-child(3) span {
    white-space: pre;
    display: inline-block;
    opacity: 0;
    will-change: transform;
    -webkit-transform: translateZ(0) translateY(-100px);
    -ms-transform: translateZ(0) translateY(-100px);
    transform: translateZ(0) translateY(-100px);
    -webkit-transition: all 0.5s cubic-bezier(0.045, 0.855, 0.100, 0.955);
    -o-transition: all 0.5s cubic-bezier(0.045, 0.855, 0.100, 0.955);
    transition: all 0.5s cubic-bezier(0.045, 0.855, 0.100, 0.955);
}
#section-home .container-caroussel .container-text > p:nth-child(2) span:nth-child(1) {
    -webkit-transform: translateY(-100px) translateX(-100px);
    -ms-transform: translateY(-100px) translateX(-100px);
    transform: translateY(-100px) translateX(-100px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(2) span:nth-child(1) {
    opacity: 1;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
}
#section-home .container-caroussel .container-text > p:nth-child(2) span:nth-child(3) {
    -webkit-transform: translateY(-170px) translateX(100px);
    -ms-transform: translateY(-170px) translateX(100px);
    transform: translateY(-170px) translateX(100px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(2) span:nth-child(3) {
    opacity: 1;
    -webkit-transform: translateY(-170px);
    -ms-transform: translateY(-170px);
    transform: translateY(-170px);
}
#section-home .container-caroussel .container-text > p:nth-child(2) span:nth-child(5) {
    -webkit-transform: translateY(-50px) translateX(50px);
    -ms-transform: translateY(-50px) translateX(50px);
    transform: translateY(-50px) translateX(50px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(2) span:nth-child(5) {
    opacity: 1;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}
#section-home .container-caroussel .container-text > p:nth-child(2) span:nth-child(7) {
    -webkit-transform: translateY(-20px) translateX(100px);
    -ms-transform: translateY(-20px) translateX(100px);
    transform: translateY(-20px) translateX(100px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(2) span:nth-child(7) {
    opacity: 1;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}
#section-home .container-caroussel .container-text > p:nth-child(2) span:nth-child(9) {
    -webkit-transform: translateY(-70px) translateX(40px);
    -ms-transform: translateY(-70px) translateX(40px);
    transform: translateY(-70px) translateX(40px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(2) span:nth-child(9) {
    opacity: 1;
    -webkit-transform: translateY(-70px);
    -ms-transform: translateY(-70px);
    transform: translateY(-70px);
}
#section-home .container-caroussel .container-text > p:nth-child(2) span:nth-child(9) {
    -webkit-transform: translateY(-90px) translateX(60px);
    -ms-transform: translateY(-90px) translateX(60px);
    transform: translateY(-90px) translateX(60px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(2) span:nth-child(11) {
    opacity: 1;
    -webkit-transform: translateY(-90px);
    -ms-transform: translateY(-90px);
    transform: translateY(-90px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(1) {
    -webkit-transform: translateY(100px) translateX(-100px);
    -ms-transform: translateY(100px) translateX(-100px);
    transform: translateY(100px) translateX(-100px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(1) {
    opacity: 1;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(3) {
    -webkit-transform: translateY(170px) translateX(100px);
    -ms-transform: translateY(170px) translateX(100px);
    transform: translateY(170px) translateX(100px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(3) {
    opacity: 1;
    -webkit-transform: translateY(170px);
    -ms-transform: translateY(170px);
    transform: translateY(170px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(5) {
    -webkit-transform: translateY(50px) translateX(50px);
    -ms-transform: translateY(50px) translateX(50px);
    transform: translateY(50px) translateX(50px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(5) {
    opacity: 1;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(7) {
    -webkit-transform: translateY(20px) translateX(100px);
    -ms-transform: translateY(20px) translateX(100px);
    transform: translateY(20px) translateX(100px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(7) {
    opacity: 1;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(9) {
    -webkit-transform: translateY(70px) translateX(-40px);
    -ms-transform: translateY(70px) translateX(-40px);
    transform: translateY(70px) translateX(-40px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(9) {
    opacity: 1;
    -webkit-transform: translateY(70px);
    -ms-transform: translateY(70px);
    transform: translateY(70px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(11) {
    -webkit-transform: translateY(140px) translateX(-80px);
    -ms-transform: translateY(140px) translateX(-80px);
    transform: translateY(140px) translateX(-80px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(11) {
    opacity: 1;
    -webkit-transform: translateY(140px);
    -ms-transform: translateY(140px);
    transform: translateY(140px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(13) {
    -webkit-transform: translateY(60px) translateX(-80px);
    -ms-transform: translateY(60px) translateX(-80px);
    transform: translateY(60px) translateX(-80px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(13) {
    opacity: 1;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
}
#section-home .container-caroussel .container-text > p:nth-child(3) span:nth-child(15) {
    -webkit-transform: translateY(100px) translateX(-60px);
    -ms-transform: translateY(100px) translateX(-60px);
    transform: translateY(100px) translateX(-60px);
}
#section-home .container-caroussel .container-text.slide-1 > p:nth-child(3) span:nth-child(15) {
    opacity: 1;
    -webkit-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
}
#section-home .container-caroussel .container-text.slide-2 > p:nth-child(2) span,
#section-home .container-caroussel .container-text.slide-2 > p:nth-child(3) span,
#section-home .container-caroussel .container-text.show > p:nth-child(2) span,
#section-home .container-caroussel .container-text.show > p:nth-child(3) span {
    -webkit-transition: all 0.75s cubic-bezier(0.045, 0.855, 0.100, 0.955);
    -o-transition: all 0.75s cubic-bezier(0.045, 0.855, 0.100, 0.955);
    transition: all 0.75s cubic-bezier(0.045, 0.855, 0.100, 0.955);
    opacity: 1;
    -webkit-transform: translateZ(0px) translateY(0px);
    -ms-transform: translateZ(0px) translateY(0px);
    transform: translateZ(0px) translateY(0px);
}
#section-home .container-caroussel .container-text .btn {
    padding: 15px 20px 15px 20px;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel .container-text > .btn.show {
    opacity: 1;
}
#section-home .container-caroussel.show-qonto .container-text .btn,
#section-home .container-caroussel.show-marks .container-text .btn,
#section-home .container-caroussel.show-mondocteur .container-text .btn,
#section-home .container-caroussel.show-orangelabs .container-text .btn,
#section-home .container-caroussel.show-chauffeurprive .container-text .btn 
{
    background-color: rgba(255, 255, 255, 0.2);
}
#section-home .container-caroussel.show-lecollectionist .container-text .btn {
    background-color: rgba(0, 0, 0, 0.2);
}
#section-home .container-caroussel .container-text .btn p {
    font-family: National-Bold;
    font-size: 14px;
}
#section-home .container-caroussel .wrapper-container-el {
    z-index: 2;
    position: absolute;
    top: calc(50% + 40px);
    left: 50%;
    width: 35%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#section-home .container-caroussel .wrapper-container-el .container-el {
    position: relative;
}

#section-home .container-caroussel > .btn {
    position: absolute;
    z-index: 2;
    top: 50%;
    right: 60px;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel > .btn.show {
    opacity: 1;
}
#section-home .container-caroussel.show-qonto > .btn,
#section-home .container-caroussel.show-marks > .btn,
#section-home .container-caroussel.show-chauffeurprive > .btn,
#section-home .container-caroussel.show-orangelabs > .btn,
#section-home .container-caroussel.show-mondocteur > .btn {
    background-color: rgba(255, 255, 255, 0.2);
}

#section-home .container-caroussel.show-lecollectionist > .btn {
    background-color: rgba(54, 63, 84, 0.2);
}

#section-home .container-caroussel > .btn .arrow {
    stroke: none !important;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel > .btn .progress {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 38px;
    width: 38px;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
}
#section-home .container-caroussel > .btn .progress circle:nth-child(1) {
    fill: none !important;
    stroke-width: 4px;
    stroke-dasharray: 339.292;
    stroke-dashoffset: 339.292;
    -webkit-transition: stroke-dashoffset 0s ease;
    -o-transition: stroke-dashoffset 0s ease;
    transition: stroke-dashoffset 0s ease;
}
#section-home .container-caroussel > .btn .progress.active circle:nth-child(1) {
    -webkit-transition: stroke-dashoffset 6s linear;
    -o-transition: stroke-dashoffset 6s linear;
    transition: stroke-dashoffset 6s linear;
    stroke-dashoffset: 0;
}
#section-home .container-caroussel.show-qonto > .btn .arrow,
#section-home .container-caroussel.show-qonto > .btn .progress circle {
    fill: #FFF;
    stroke: #FFF;
}
#section-home .container-caroussel.show-marks > .btn .arrow,
#section-home .container-caroussel.show-marks > .btn .progress circle {
    fill: #FFF;
    stroke: #FFF;
}
#section-home .container-caroussel.show-chauffeurprive > .btn .arrow,
#section-home .container-caroussel.show-chauffeurprive > .btn .progress circle {
    fill: #FFF;
    stroke: #FFF;
}
#section-home .container-caroussel.show-lecollectionist > .btn .arrow,
#section-home .container-caroussel.show-lecollectionist > .btn .progress circle {
    fill: #363F54;
    stroke: #363F54;
}
#section-home .container-caroussel.show-orangelabs > .btn .arrow,
#section-home .container-caroussel.show-orangelabs > .btn .progress circle {
    fill: #FFF;
    stroke: #FFF;
}
#section-home .container-caroussel.show-mondocteur > .btn .arrow,
#section-home .container-caroussel.show-mondocteur > .btn .progress circle {
    fill: #FFF;
    stroke: #FFF;
}
#section-home .container-caroussel .container-ms {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 38px;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel .container-ms.show {
    opacity: 1;
}
#section-home .container-caroussel .container-ms svg {
    height: 30px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-home .container-caroussel.show-qonto .container-ms svg {
    fill: #FFF;
}
#section-home .container-caroussel.show-marks .container-ms svg {
    fill: #FFF;
}
#section-home .container-caroussel.show-chauffeurprive .container-ms svg {
    fill: #FFF;
}
#section-home .container-caroussel.show-lecollectionist .container-ms svg {
    fill: #363F54;
}
#section-home .container-caroussel.show-orangelabs .container-ms svg {
    fill: #FFF;
}
#section-home .container-caroussel.show-mondocteur .container-ms svg {
    fill: #FFF;
}
#section-home .container-ms svg path:nth-child(1) {
    opacity: 0.3;
}
#section-home .container-ms svg path:nth-child(2) {
    animation: containerMsScroll 3s ease infinite;
    -webkit-animation: containerMsScroll 3s ease infinite;
}

@keyframes containerMsScroll {
    0% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes containerMsScroll {
    0% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px);
    }
    100% {
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
    }
}
/*=====  End of Section HOME  ======*/
/*=======================================
=            Section CONTACT            =
=======================================*/

#section-contact {
    position: relative;
    padding: 50px 0px 200px 0px;
    text-align: center;
    z-index: 2;
    opacity: 0;
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1);
}
#section-contact.reach {
    opacity: 1;
}
#section-contact .container-text {
    display: inline-block;
    vertical-align: middle;
    width: 485px;
    padding-left: 95px;
    text-align: left;
}
#section-contact .container-text h2 {
    color: #363F54;
    font-family: National-Bold;
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 34px;
    position: relative;
}
#section-contact .container-text h2:before {
    content: '';
    height: 3px;
    width: 60px;
    border-radius: 2px;
    background-color: #2884F6;
    position: absolute;
    top: 23px;
    right: calc(100% + 35px);
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    -o-transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005), -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
}
#section-contact.reach .container-text h2:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
#section-contact .container-text p {
    color: #8A99C0;
    font-family: National-Regular;
    font-size: 24px;
    line-height: 42px;
}

#section-contact .container-action {
    display: inline-block;
    vertical-align: middle;
    width: 485px;
}
#section-contact .container-action a {
    text-decoration: none;
    display: inline-block;
    position: relative;
}
#section-contact .container-action a .btn {
    position: relative;
    display: block;
    height: 100px;
    width: 100px;
    margin: auto;
}
#section-contact .container-action a .btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    background-color: #2884F6;
    -webkit-box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -o-transition: transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    -webkit-transition: -webkit-transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    transition: -webkit-transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    transition: transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
    transition: transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000), -webkit-transform 500ms cubic-bezier(0.000, 0.785, 0.000, 1.000);
}
#section-contact .container-action a:hover .btn:before {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    -ms-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
}
#section-contact .container-action a .btn svg {
    height: 18px;
    fill: #FFF;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
#section-contact .container-action a .text {
    width: 100%;
    display: block;
    white-space: nowrap;
    text-align: center;
    margin-top: 15px;
}
#section-contact .container-action a .text p {
    color: #363F54;
    font-family: National-Bold;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
}
#section-contact .container-action a .text .arrow {
    fill: #363F54;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 9px;
}
/*=====  End of Section CONTACT  ======*/
/*====================================================
=            Section PR 1 & Section PR 2             =
====================================================*/

#section-pr-1,
#section-pr-2 {
    position: relative;
    text-align: center;
}
.section-pr-el .container-el {
    position: relative;
}
.section-pr-el .container-el .el {
    padding: 116px 0px 50px 0px;
    position: relative;
    overflow: hidden;
    margin-bottom: 200px;
}
.section-pr-el .container-el .el:last-child {
    margin-bottom: 0px;
}
.section-pr-el .container-el .el .title {
    position: relative;
    text-align: center;
    z-index: 1;
    display: inline-block;
}
.section-pr-el .container-el .el .title h2 {
    display: inline-block;
    color: #363F54;
    font-family: National-Bold;
    font-size: 42px;
    line-height: 51px;
    position: relative;
    -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    -webkit-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}
.section-pr-el .container-el .el.reach .title h2
{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
.section-pr-el .container-el .el:nth-child(odd) .title h2 {
    text-align: left;
}
.section-pr-el .container-el .el:nth-child(even) .title h2 {
    text-align: right;
}
.section-pr-el .container-el .el .title h2:before {
    content: '';
    height: 3px;
    width: 60px;
    border-radius: 2px;
    background-color: #363F54;
    position: absolute;
    top: 30px;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    -o-transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005), -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
}
.section-pr-el .container-el .el.reach .title h2:before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
.section-pr-el .container-el .el:nth-child(odd) .title h2:before {
    right: calc(100% + 35px);
}
.section-pr-el .container-el .el:nth-child(even) .title h2:before {
    left: calc(100% + 35px);
}
.section-pr-el .container-el .el .illu {
    position: absolute;
    top: 0px;
    height: 100%;
    width: 45%;
    border-radius: 4px;
    overflow:hidden;
    background-color: rgba(0, 0, 0, 0.1);
}
.section-pr-el .container-el .el:nth-child(odd) .illu {
    left: 0px;
    -webkit-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.section-pr-el .container-el .el:nth-child(even) .illu {
    right: 0px;
}
.section-pr-el .container-el .el .illu .bg
{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000), -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.section-pr-el .container-el .el.reach .illu .bg
{
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}
.section-pr-el .container-el .el .illu:after
{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    -webkit-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transition: -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition: transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000), -webkit-transform 750ms cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
.section-pr-el .container-el .el.reach:nth-child(odd) .illu:after {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}
.section-pr-el .container-el .el.reach:nth-child(even) .illu:after {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

.section-pr-el .container-el .el .wrapper {
    position: relative;
    z-index: 1;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.section-pr-el .container-el .el:nth-child(even) .wrapper .container-text,
.section-pr-el .container-el .el:nth-child(odd) .wrapper .container-img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}
.section-pr-el .container-el .el:nth-child(odd) .wrapper .container-text,
.section-pr-el .container-el .el:nth-child(even) .wrapper .container-img {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
}
.section-pr-el .container-el .el .wrapper .container-img {
    width: 613px;
    height: 412px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    -webkit-transition: opacity 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 1000ms cubic-bezier(0.694, 0, 0.335, 1);
}
.section-pr-el .container-el .el.reach .wrapper .container-img {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.section-pr-el .container-el .el .wrapper .container-img img.desktop {
    filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
}

.section-pr-el .container-el .el.el-desktop .wrapper .container-img img
{
    width: 100%;
}


/* EL MOBILE */
.section-pr-el .container-el .el.el-mobile .wrapper .container-img .device {
    height: 100%;
    position: absolute;
    top: 50%;
    filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
    -webkit-filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
    -moz-filter: drop-shadow(0px 14px 28px rgba(0,0,0,0.3));
    -webkit-transition: all 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: all 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: all 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    opacity: 0;
}
.section-pr-el .container-el .el.el-mobile .wrapper .container-img .device:nth-child(1) {
    left: 30%;
    -webkit-transform: translateX(-50%) translateY(calc(-50% + 30px));
    -ms-transform: translateX(-50%) translateY(calc(-50% + 30px));
    transform: translateX(-50%) translateY(calc(-50% + 30px));
}
.section-pr-el .container-el .el.el-mobile .wrapper .container-img .device:nth-child(2) {
    right: 30%;
    -webkit-transform: translateX(50%) translateY(calc(-50% + 30px));
    -ms-transform: translateX(50%) translateY(calc(-50% + 30px));
    transform: translateX(50%) translateY(calc(-50% + 30px));
    -webkit-transition-delay:0.25s;
    -o-transition-delay:0.25s;
       transition-delay:0.25s;
}
.section-pr-el .container-el .el.el-mobile.reach .wrapper .container-img .device:nth-child(1) {
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
}
.section-pr-el .container-el .el.el-mobile.reach .wrapper .container-img .device:nth-child(2) {
    -webkit-transform: translateX(50%) translateY(-50%);
    -ms-transform: translateX(50%) translateY(-50%);
    transform: translateX(50%) translateY(-50%);
    opacity: 1;
}
.section-pr-el .container-el .el.el-mobile .wrapper .container-img .device .iphone {
    height: 100%;
    position: relative;
    z-index: 1;
}
.section-pr-el .container-el .el.el-mobile .wrapper .container-img .device .container-screen {
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 89%;
    height: 95.5%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.section-pr-el .container-el .el.el-mobile .wrapper .container-img .device .container-screen img {
    width: 100%;
    min-height: 100%;
}
/* END EL MOBILE */

.section-pr-el .container-el .el .wrapper .container-text {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 335px;
    text-align: left;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
}
.section-pr-el .container-el .el.reach .wrapper .container-text {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
.section-pr-el .container-el .el:nth-child(odd) .wrapper .container-text {
    margin-left: 150px;
}
.section-pr-el .container-el .el:nth-child(even) .wrapper .container-text {
    margin-right: 150px;
}
.section-pr-el .container-el .el .wrapper .container-text h3 {
    font-family: National-Regular;
    font-size: 16px;
    margin-bottom: 42px;
}
/* CHAUFFEUR PRIVE */

.section-pr-el .container-el .el.el-chauffeurprive .wrapper .container-text h3 {
    color: #CF0A2D;
}
/* END CHAUFFEUR PRIVE */
/* LE COLLECTIONIST */

.section-pr-el .container-el .el.el-lecollectionist .wrapper .container-text h3 {
    color: #DBBC8F;
}
/* END LE COLLECTIONIST */
/* MARKS */

.section-pr-el .container-el .el.el-marks .wrapper .container-text h3 {
    color: #ED665E;
}
/* END MARKS */
/* ORANGE LABS */

.section-pr-el .container-el .el.el-orangelabs .wrapper .container-text h3 {
    color: #FF6600;
}
/* END ORANGE LABS */
/* QONTO */

.section-pr-el .container-el .el.el-qonto .wrapper .container-text h3 {
    color: #7969E6;
}
/* END QONTO */
/* THOUGHTSPOT */

.section-pr-el .container-el .el.el-thoughtspot .wrapper .container-text h3 {
    color: #ED665E;
}
/* END THOUGHTSPOT */
/* LE MON DOCTEUR */

.section-pr-el .container-el .el.el-mondocteur .wrapper .container-text h3 {
    color: #FF6C75;
}
/* END LE MON DOCTEUR */

.section-pr-el .container-el .el .wrapper .container-text > p {
    color: #363F54;
    font-family: National-Regular;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 60px;
}
.section-pr-el .container-el .el .wrapper .container-text a {
    text-decoration: none;
    position: relative;
    display: inline-block;
}
.section-pr-el .container-el .el .wrapper .container-text a:after {
    content: '';
    height: 2px;
    width: 10px;
    position: absolute;
    left: calc(100% + 12px);
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.section-pr-el .container-el .el.el-chauffeurprive .wrapper .container-text a:after {
    background-color: #CF0A2D;
}
.section-pr-el .container-el .el.el-lecollectionist .wrapper .container-text a:after {
    background-color: #DBBC8F;
}
.section-pr-el .container-el .el.el-marks .wrapper .container-text a:after {
    background-color: #ED665E;
}
.section-pr-el .container-el .el.el-orangelabs .wrapper .container-text a:after {
    background-color: #FF6600;
}
.section-pr-el .container-el .el.el-qonto .wrapper .container-text a:after {
    background-color: #7969E6;
}
.section-pr-el .container-el .el.el-thoughtspot .wrapper .container-text a:after {
    background-color: #ED665E;
}
.section-pr-el .container-el .el.el-mondocteur .wrapper .container-text a:after {
    background-color: #FF6C75;
}
.section-pr-el .container-el .el .wrapper .container-text a p {
    color: #363F54;
    font-family: National-Bold;
    font-size: 14px;
}
.section-pr-el .link-work {
    padding: 16px 32px 16px 32px;
    border-radius: 3px;
    background-color: #2884F6;
    display: inline-block;
    text-decoration: none;
    margin-top: 150px;
}
.section-pr-el .link-work p {
    color: #FFFFFF;
    font-family: National-Bold;
    font-size: 14px;
}
/*=====  End of Section PR 1 & Section PR 2 ======*/
/*====================================
=            Section work            =
====================================*/

#section-work {
    position: relative;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 350px 0px 150px 20%;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    opacity: 1;
    overflow: hidden;
}
#section-work.reach
{
    opacity: 1;
}
#section-work:after {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    width: 95%;
    height: 100px;
    background-color: #FFF;
}
#section-work:before {
    content: '';
    position: absolute;
    right: 0px;
    top: 0px;
    width: 95%;
    height: 100%;
    background-color: #2884F6;
}

#section-work .bnd {
    position: absolute;
    z-index: 5;
    top: 0%;
    left: 0%;
    width: calc(100% + 280px);
    height: 100%;
    background-color: #FFF;
    -webkit-transform: translateX(-140px) skew(-20deg);
    -ms-transform: translateX(-140px) skew(-20deg);
    transform: translateX(-140px) skew(-20deg);
    -webkit-transition: all 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: all 1000ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: all 1000ms cubic-bezier(0.694, 0, 0.335, 1);
}
#section-work.reach .bnd
{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

#section-work .container-text {
    width: 310px;
    position: relative;
    z-index: 3;
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -o-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -webkit-transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    transition: opacity 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
}
#section-work.reach .container-text {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}
#section-work .container-text h2 {
    position: relative;
    color: #363F54;
    top: -30px;
    display: inline-block;
    margin-bottom: 40px;
    font-family: National-Bold;
    font-size: 42px;
    line-height: 51px;
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: translateX(-60px) rotate(-90deg);
    -ms-transform: translateX(-60px) rotate(-90deg);
    transform: translateX(-60px) rotate(-90deg);
}
#section-work .container-text h2:after {
    border-radius: 3px;
    content: '';
    position: absolute;
    right: calc(100% + 35px);
    top: 24px;
    width: 60px;
    height: 3px;
    background-color: #363F54;
    -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    -o-transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
    transition: transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005), -webkit-transform 0.75s cubic-bezier(0.770, 0.000, 0.230, 1.005);
}
#section-work.reach .container-text h2:after
{
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
}
#section-work .container-text > p {
    color: #FFFFFF;
    font-family: National-Regular;
    font-size: 24px;
    line-height: 34px;
}

#section-work .container-text > p i {
    color: #013E8D;
}
#section-work .container-text .btn {
    margin-top: 60px;
    padding: 18px 20px 18px 20px;
    border-radius: 3px;
    background-color: #FFFFFF;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
#section-work .container-text .btn p {
    color: #363F54;
    font-family: National-Bold;
    font-size: 14px;
}
#section-work .container-illu {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    right: 0px;
    height: calc(100% - 100px);
    overflow: hidden;
    max-width: 60%;
}
@-moz-document url-prefix() {
    #section-work .container-illu
    {
        width: 800px;
    }
}
#section-work .container-illu:after {
    content: '';
    position: absolute;
    z-index: 4;
    left: 0px;
    top: 0px;
    width: 10%;
    height: 100%;
    background: -webkit-gradient(linear, left top, right top, from(#2884F6), to(rgba(40, 132, 246, 0)));
    background: -webkit-linear-gradient(left, #2884F6, rgba(40, 132, 246, 0));
    background: -o-linear-gradient(left, #2884F6, rgba(40, 132, 246, 0));
    background: linear-gradient(to right, #2884F6, rgba(40, 132, 246, 0));
}


#section-work .container-illu video
{
    height: 100%;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
       transition-delay: 0.5s;
}
#section-work.reach .container-illu video
{
    opacity: 1;
    z-index: 10;
}

#section-work .container-illu img.illu {
    display: none;
}
#section-work .container-illu img.cloud-1 {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 60%;
    z-index: 1;
    opacity: 0.7;
}
#section-work .container-illu img.cloud-2 {
    display: inline-block;
    position: absolute;
    top: 20%;
    right: 0px;
    width: 30%;
    z-index: 1;
    opacity: 0.7;
}
#section-work .container-illu img.cloud-3 {
    display: inline-block;
    position: absolute;
    top: 45%;
    right: 0px;
    width: 20%;
    z-index: 1;
    opacity: 0.7;
}
#section-work .container-illu img.cloud-4 {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    left: 60%;
    width: 20%;
    z-index: 1;
    opacity: 0.7;
}
/*=====  End of Section work  ======*/
/*====================================
=            Section TEAM            =
====================================*/

/*=====  End of Section TEAM  ======*/


/*========================================
=            Section Sponsors            =
========================================*/

#section-sponsors
{
    position: relative;
    margin-top: 50px;
    padding: 150px 0px 150px 0px;
}
#section-sponsors .container-li
{
    position: relative;
    width: 80%;
    height: 50px;
    margin: auto;
}
#section-sponsors .container-li .li-el
{
    position: relative;
    text-align: center;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: center;
}
#section-sponsors .container-li .li-el .el
{
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    height: 45px;
    margin-right: 30px;
    margin-left: 10px;
    font-size: 20px;
    -webkit-transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1.005);
    -o-transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1.005);
    transition: all 0.7s cubic-bezier(0.500, -0.010, 0.000, 1.005);
    opacity: 0;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    -webkit-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}
#section-sponsors .container-li .li-el .el.el-toughtspot {
    width: 105px;
}
#section-sponsors .container-li .li-el .el.el-orange {
    width: 41px;
}
#section-sponsors .container-li .li-el .el.el-chauffeurprive {
    width: 107px;
}
#section-sponsors .container-li .li-el .el.el-blackpills {
    width: 132px;
}
#section-sponsors .container-li .li-el .el.el-axa {
    width: 120px;
}
#section-sponsors .container-li .li-el .el.el-auchan {
    width: 200px;
}
#section-sponsors .container-li .li-el .el.el-mondocteur {
    width: 179px;
}
#section-sponsors .container-li .li-el .el.el-uber {
    width: 62px;
}
#section-sponsors .container-li .li-el .el.el-xola {
    width: 91px;
}
#section-sponsors .container-li .li-el .el.el-edf {
    width: 37px;
}
#section-sponsors .container-li .li-el .el.el-buzzman {
    width: 100px;
}
#section-sponsors .container-li .li-el .el img
{
    fill: #8D8D97;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}


#section-sponsors .container-li .li-el .el:first-child,
#section-sponsors .container-li .li-el .el:last-child
{
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
       transition-delay: 0.3s;
}
#section-sponsors .container-li .li-el .el:nth-child(2),
#section-sponsors .container-li .li-el .el:nth-child(5)
{
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
       transition-delay: 0.2s;
}
#section-sponsors .container-li .li-el .el:nth-child(3),
#section-sponsors .container-li .li-el .el:nth-child(4)
{
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
       transition-delay: 0.1s;
}
#section-sponsors .container-li .li-el.anim .el
{
    -webkit-filter: blur(0px);
    -o-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/*=====  End of Section Sponsors  ======*/
/*=====  Beginning of Contact Section  ======*/

#footer > section:nth-child(1) {
    width: calc(66% - 2.5em);
    margin: auto;
    min-width: 300px;
}
#footer {
    font-family: National-Regular, sans-serif;
}
#footer h2 {
    /* font-weight: 900; */
    margin: 0 0 2em 0;
    /*text-transform: uppercase;*/
    letter-spacing: 3px;
    color: #363F54;
    font-family: National-Bold;
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 34px;
    position: relative;
}
form .field {
    position: relative;
    float: left;
    margin: 0 0 1.3em 0;
    vertical-align: top;
    width: 100%;
    font-family: National-Regular, sans-serif;
}
input[type="text"], input[type="password"], input[type="email"],input[type="tel"], select {
    height: 3em;
    font-size: 14pt;
    font-family: National-Regular, sans-serif;
}
textarea{
    font-size: 14pt;
    font-family: National-Regular, sans-serif;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], select, textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px #c9c9c9;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0;
    text-decoration: none;
    width: 100%;
}

form .actions {
    position: relative;
    clear: both;
    padding-top: 1em;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
    padding-right: 0;
}

input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 2px #585858;
    color: #585858 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 900;
    height: 3.5em;
    letter-spacing: 0.35em;
    line-height: 3.45em;
    overflow: hidden;
    padding: 0 1.25em 0 1.6em;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
}
input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special, .button.special {
    box-shadow: none;
    background-color: #585858;
    color: #ffffff !important;
}

