<!-- SETTINGS -->

<!-- TRANSLATE SETTINGS -->



<!-- END TRANSLATE SETTINGS -->

<!-- END SETTINGS -->
<!DOCTYPE html>
<html lang="en-US">

	<head>

		<title>Small digital team that will work closely with our san francisco clients</title>

		<meta http-equiv="content-type" content="text/html; charset=utf8" />
<meta name="description" content="We've technical and creative skills while also establishing a tight-knit relationship with our customer at san francisco. Our digital agency creates brands, builds web products, and develops iOS app. We building strategy, design, illustrations, and technology." />

<!-- HREFLANG -->

<link rel="alternate" hreflang="fr-fr" href="fr/equipe-web-creative"" />
      <link rel="alternate" hreflang="en-us" href="us/digital-agency-san-francisco" />
      <link rel="alternate" hreflang="en-gb" href="us/digital-agency-san-francisco" />
      <link rel="alternate" hreflang="x-default" href="us/digital-agency-san-francisco" />
      <link rel="canonical" href="us/digital-agency-san-francisco" />
<!-- END HREFLANG -->


<!-- OPEN GRAPH -->
<meta property="og:title" content="Small digital team that will work closely with our san francisco clients" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content="AgenceMeV4/img/thumbnails/agency_thumbnails.jpg" />
<!-- END OPEN GRAPH -->

<!-- FAVICON -->
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png?v=XBz6qPPxN3">
<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png?v=XBz6qPPxN3">
<link rel="icon" type="image/png" sizes="194x194" href="favicon-194x194.png?v=XBz6qPPxN3">
<link rel="icon" type="image/png" sizes="192x192" href="android-chrome-192x192.png?v=XBz6qPPxN3">
<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png?v=XBz6qPPxN3">
<link rel="manifest" href="site.webmanifest?v=XBz6qPPxN3">
<link rel="mask-icon" href="safari-pinned-tab.svg?v=XBz6qPPxN3" color="#2884f6">
<link rel="shortcut icon" href="favicon.ico?v=XBz6qPPxN3">
<meta name="msapplication-TileColor" content="#2884f6">
<meta name="msapplication-TileImage" content="mstile-144x144.png?v=XBz6qPPxN3">
<meta name="theme-color" content="#2884f6">
<!-- END FAVICON -->

<!-- LAYOUT STYLE -->

<link rel="stylesheet" type="text/css" href="AgenceMeV4/css/src-common/common_style.css">

<!-- END LAYOUT STYLE -->

<!-- HEADER -->

<link rel="stylesheet" type="text/css" href="AgenceMeV4/css/src-common/header_style_desktop.css">

<link rel="stylesheet" type="text/css" href="AgenceMeV4/css/src-common/header_style_responsive.css">

<!-- END HEADER -->

<!-- FOOTER -->

<link rel="stylesheet" type="text/css" href="AgenceMeV4/css/src-common/footer_style_desktop.css">

<link rel="stylesheet" type="text/css" href="AgenceMeV4/css/src-common/footer_style_responsive.css">

<!-- END FOOTER -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" src="AgenceMeV4/js/src-common/jquery-3.2.1.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43968145-1', 'auto');
  ga('send', 'pageview');

</script>
	    <link rel="stylesheet" type="text/css" href="AgenceMeV4/css/pages/agency/agency_style_desktop.css">

	    <link rel="stylesheet" type="text/css" href="AgenceMeV4/css/pages/agency/agency_style_responsive.css">

	</head>

	<body>

		
<div id="tr-el">

	<div class="container-slides">
		<div class="slide"></div>
		<div class="slide">
			<div class="slg">
				<div class="line">CREATING</div>
				<div class="line">DIGITAL BUSINESS</div>
			</div>
		</div>
	</div>
	
</div>
<header id="header-desktop" class="style-agency">

	<div class="container-rs">
		<div class="li-rs">
			<a href="https://dribbble.com/AgenceMe" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14">
					<use xlink:href="AgenceMeV4/svg/src-common/header/Dribbble-icn.svg#Dribbble-icn"></use>
				</svg>
			</a>
			<a href="https://www.instagram.com/agenceme/" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14">
					<use xlink:href="AgenceMeV4/svg/src-common/header/Instagram-icn.svg#Instagram-icn"></use>
				</svg>
			</a>
			<a href="https://twitter.com/AgenceMe" target="_blank">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12">
					<use xlink:href="AgenceMeV4/svg/src-common/header/Twitter-icn.svg#Twitter-icn"></use>
				</svg>
			</a>
		</div>
	</div>
	<a class="container-logo" href="us/">		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 37">
			<use xlink:href="AgenceMeV4/svg/src-common/AgenceMe-Logo.svg#AgenceMe-Logo"></use>
		</svg>
	</a>
	<div class="container-vr">
		V.4
	</div>
	
</header>

<div id="nav-btn" class="style-agency">

	<div class="content">
		<div class="text">
			<span>M</span>
			<span>E</span>
			<span>N</span>
			<span>U</span>
		</div>
		<div class="action">
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
	</div>
	
</div>

<nav id="nav">

	<div class="content">
		<div class="head">

			<a class="container-logo" href="us/">				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 37">
					<use xlink:href="AgenceMeV4/svg/src-common/AgenceMe-Logo.svg#AgenceMe-Logo"></use>
				</svg>
			</a>
			<div class="container-vr">
				V.4
			</div>	
		</div>
		<div class="container-rs">
			<div class="li-rs">
				<a href="https://dribbble.com/AgenceMe" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Dribbble-icn.svg#Dribbble-icn"></use>
					</svg>
				</a>
				<a href="https://www.instagram.com/agenceme/" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Instagram-icn.svg#Instagram-icn"></use>
					</svg>
				</a>
				<a href="https://twitter.com/AgenceMe" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Twitter-icn.svg#Twitter-icn"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="container-prLink">
			<ul class="page-agency">
				<li class="link-home">
					<a data-content="el-home" class="delay" href="us/">HOME					</a>
				</li>
				<li class="link-projects">
					<a data-content="el-projects">PROJECTS					</a><span></span>
				</li>
				<li class="link-services">
					<a data-content="el-services" class="delay" href="us/services-uiux-design">SERVICES					</a>
				</li>
				<li class="link-team">
					<a data-content="el-team" class="delay" href="us/digital-agency-san-francisco">TEAM					</a>
				</li>
				<li class="link-contact">
					<a data-content="el-contact" class="delay" href="us/quotes-website">CONTACT					</a>
				</li>
			</ul>
		</div>
		<div class="container-contentLink">
			<div class="wrapper-el">
				<div class="el el-home">
					<div class="container-text">
						<h3>OUR JOB</h3>
						<p>
							At AgenceMe, our job goes beyond just imagining and creating beautiful digital design concepts. Our job is also to make your product as efficient and intuitive as possible. Your product needs to convert successfully. Your product needs to differentiate your business. Our mission is to make that happen.						</p>
					</div>
				</div>
				<div class="el el-projects">
					<ul class="">
				       	<li>
				       		<a >UBER</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="link-axa">
				       		<a >AXA</a><span class="soon">SOON</span>
				       	</li>
				       	<li>
				       		<a target="_blank" href="https://www.blackpills.com">BLACKPILLS</a></span>
				       	</li>
				       	<li class="link-qonto" >
				       		<a class="delay" href="us/web-development-agency-qonto">QONTO</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="link-engie" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/470866-Engie-Energie-Fut-e">ENGIE</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/671150-Accrosport">ACCROSPORT</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/470870-Owkin">OWKIN</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="link-peech" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/670801-Peech">PEECH</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="link-lefty" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/470868-Lefty">LEFTY</a><span class="soon">SOON</span>
				       	</li>
				       	<!--
				       	<li class="link-influence" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/671147-Influencee">INFLUENCE</a><span class="soon">SOON				       	</li>-->
				       	<li class="link-gamology" >
				       		<a target="_blank" href="https://www.facebook.com/thebestofgaming1/">GAMOLOGY</a>
				       	</li>
				       	<li class="link-chauffeurprive" >
				       		<a class="delay" href="us/web-design-agency-chauffeur-prive">CHAUFFEUR PRIVE</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="" >
				       		<a class="delay" href="us/creative-website-le-collectionist">LE COLLECTIONIST</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="" >
				       		<a class="delay" href="us/creative-branding-agency-thoughtspot">THOUGHTSPOT</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://dreem.com">DREEM</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="link-alwaysdata" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/670803-Always-Data">ALWAYS DATA</a><span class="soon">SOON				       	</li>
				       	<li class="link-seekube" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/671157-Seekube">SEEKUBE</a><span class="soon">SOON				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="http://www.buzzman.eu/">BUZZMAN</a><span class="soon">SOON				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/494429-Billionaire-Bay">BILLIONAIREBAY</a><span class="soon">SOON</span>
				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://www.nextworldcap.com">NEXT WORLD CAP</a><span class="soon">SOON				       	</li>
				       	<li class="link-marks" >
				       		<a class="delay" href="us/mobile-app-design-marks">MARKS</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="link-orange" >
				       		<a class="delay" href="us/website-development-orange-labs">ORANGE LABS</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="link-mektoube" >
				       		<a target="_blank" href="https://itunes.apple.com/fr/app/mektoube-rencontre-musulmane/id465630898?mt=8">MEKTOUBE</a>
				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://www.gotzm.com/" >GOTZ'M</a><span class="soon">SOON				       	</li>
				       	<li class="" >
				       		<a target="_blank" href="https://www.theneura.com">NEURA</a><span class="soon">SOON				       	</li>
				       	<li class="link-xola" >
				       		<a target="_blank" href="https://dribbble.com/BarthelemyChalvet/projects/74874-Xola-com">XOLA</a><span class="soon">SOON				       	</li>
				       	<li class="link-mondocteur" >
				       		<a class="delay" href="us/uiux-design-agency-mondocteur">MONDOCTEUR</a><span class="casestudy">CASE STUDY</span>
				       	</li>
				       	<li class="link-freelance-republik" >
				       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/670797-Freelance-Republik">FREELANCE REPUBLICK</a>
				       	</li>
				    </ul>
				</div>
				<div class="el el-services">
					<div class="container-text">
						<h3>EFFICENCY, CREATIVITY AND PROXIMITY</h3>
						<p>
							It’s important for us to adhere to these three values, as they embody our agency and define the way that we work.						</p>
					</div>
				</div>
				<div class="el el-team">
					<div class="container-text">
						<h3>WHO ARE WE ?</h3>
						<p>
							An intimate team of UI / UX designers, full-stack developers and illustrators.						</p>
					</div>
				</div>
				<div class="el el-contact">
					<div class="container-text">
						<h3>HIRE ME</h3>
						<p>
							Describe your project and leave us your contact info, we’ll get back to you within 24 hours.						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</nav>

<div id="nav-btn-mobile">
	<div class="content">
		<div class="container-bar">
			<div class="bar"></div>
			<div class="bar"></div>
		</div>
		<div class="container-text">
			<span>MENU</span>
		</div>
	</div>
</div>

<div id="nav-mobile">

	<div class="head">

		<a class="container-logo" href="us/">			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 37">
				<use xlink:href="AgenceMeV4/svg/src-common/AgenceMe-Logo.svg#AgenceMe-Logo"></use>
			</svg>
		</a>
		<div class="container-vr">
			V.4
		</div>	
	</div>

	<div class="wrapper">

		<div class="container container-linkPr">
			<ul>
				<li>
					<a class="delay" href="us/">HOME</a>				</li>
				<li>
					<a class="link-delay" >PROJECTS</a>
					<span></span>
				</li>
				<li>
					<a class="delay" href="us/services-uiux-design">SERVICES</a>				</li>
				<li>
					<a class="delay" href="us/digital-agency-san-francisco">TEAM</a>				</li>
				<li>
					<a class="delay" href="us/quotes-website">CONTACT</a>				</li>
			</ul>
			<div class="li-rs">
				<a href="https://dribbble.com/AgenceMe" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Dribbble-icn.svg#Dribbble-icn"></use>
					</svg>
				</a>
				<a href="https://www.instagram.com/agenceme/" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Instagram-icn.svg#Instagram-icn"></use>
					</svg>
				</a>
				<a href="https://twitter.com/AgenceMe" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Twitter-icn.svg#Twitter-icn"></use>
					</svg>
				</a>
			</div>
		</div>

		<div class="container container-projects hide-right">
			<div class="back">
				<svg class="arrow"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 11">
					<use xlink:href="AgenceMeV4/svg/pages/home/arrow-1.svg#arrow-1"></use>
				</svg>
			</div>
			<ul>
		       	<li>
		       		<a class="delay" >UBER</a><span class="soon">SOON</span>
		       	</li>
		       	<li class="link-axa">
		       		<a class="delay" >AXA</a><span class="soon">SOON</span>
		       	</li>
		       	<li>
		       		<a target="_blank" href="https://itunes.apple.com/fr/app/blackpills/id1178975492?mt=8">BLACKPILLS</a></span>
		       	</li>
		       	<li class="link-qonto" >
		       		<a class="delay" href="us/web-development-agency-qonto">QONTO</a><span class="casestudy">CASE STUDY</span>
		       	</li>
		       	<li class="link-engie" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/470866-Engie-Energie-Fut-e">ENGIE</a><span class="soon">SOON		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/671150-Accrosport">ACCROSPORT</a><span class="soon">SOON		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/470870-Owkin">OWKIN</a><span class="soon">SOON		       	</li>
		       	<li class="link-peech" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/670801-Peech">PEECH</a><span class="soon">SOON		       	</li>
		       	<li class="link-lefty" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/470868-Lefty">LEFTY</a>
		       	</li>
		       	<li class="link-influence" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/671147-Influencee">INFLUENCE</a><span class="soon">SOON		       	</li>
		       	<li class="link-gamology" >
		       		<a target="_blank" href="https://www.facebook.com/thebestofgaming1/">GAMOLOGY</a>
		       	</li>
		       	<li class="link-chauffeurprive" >
		       		<a class="delay" href="us/web-design-agency-chauffeur-prive">CHAUFFEUR PRIVE</a><span class="casestudy">CASE STUDY</span>
		       	</li>
		       	<li class="" >
		       		<a class="delay" href="us/creative-website-le-collectionist">LE COLLECTIONIST</a><span class="casestudy">CASE STUDY</span>
		       	</li>
		       	<li class="" >
		       		<a class="delay" href="us/creative-branding-agency-thoughtspot">THOUGHTSPOT</a><span class="casestudy">CASE STUDY</span>
		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="https://dreem.com">DREEM</a>
		       	</li>
		       	<li class="link-alwaysdata" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/670803-Always-Data">ALWAYS DATA</a><span class="soon">SOON		       	</li>
		       	<li class="link-seekube" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/671157-Seekube">SEEKUBE</a><span class="soon">SOON		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="http://www.buzzman.eu/">BUZZMAN</a><span class="soon">SOON		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/494429-Billionaire-Bay">BILLIONAIREBAY</a>
		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="https://www.nextworldcap.com">NEXT WORLD CAP</a><span class="soon">SOON		       	</li>
		       	<li class="link-marks" >
		       		<a class="delay" href="us/mobile-app-design-marks">MARKS</a><span class="casestudy">CASE STUDY</span>
		       	</li>
		       	<li class="link-orange" >
		       		<a class="delay" href="us/website-development-orange-labs">ORANGE LABS</a><span class="casestudy">CASE STUDY</span>
		       	</li>
		       	<li class="link-mektoube" >
		       		<a target="_blank" href="https://itunes.apple.com/fr/app/mektoube-rencontre-musulmane/id465630898?mt=8">MEKTOUBE</a>
		       	</li>
		       	<li class="" >
		       		<a class="delay" target="_blank" href="https://www.gotzm.com/">GOTZ'M</a><span class="soon">SOON</span>
		       	</li>
		       	<li class="" >
		       		<a target="_blank" href="https://www.theneura.com">NEURA</a><span class="soon">SOON		       	</li>
		       	<li class="link-xola" >
		       		<a target="_blank" href="https://dribbble.com/BarthelemyChalvet/projects/74874-Xola-com">XOLA</a><span class="soon">SOON		       	</li>
		       	<li class="link-mondocteur" >
		       		<a class="delay" href="us/uiux-design-agency-mondocteur">MONDOCTEUR</a>		       	</li>
		       	<li class="link-freelance-republik" >
		       		<a target="_blank" href="https://dribbble.com/AgenceMe/projects/670797-Freelance-Republik">FREELANCE REPUBLICK</a>
		       	</li>
		    </ul>
		</div>

	</div>
	
</div>
		<div id="container-general">

			
			<section id="section-cover">

				
				<h1>
					<span>INSIDE</span>
					<span>AGENCEME</span>
				</h1>

				<div class="container-illu">
					<img data-parallax='{"y": -150, "x": -150, "smoothness": 40}' class="ipad" src="AgenceMeV4/img/pages/agency/ipad.png" alt="">
					<img data-parallax='{"y": -10, "x": -150, "smoothness": 40}' class="girl" src="AgenceMeV4/img/pages/agency/girl.png" alt="">
					<img data-parallax='{"y": 100, "x": 70, "smoothness": 40}' class="pen" src="AgenceMeV4/img/pages/agency/Pencil.jpg" alt="">
				</div>

				
			</section>

			<section id="section-trip">
				<div class="container-title">
					<h2>AN INTERNATIONAL<br>AGENCY</h2>
				</div>
				<div class="wrapper">
					<div class="container-text">
						<p class="wrapLine">
							AgenceMe was founded in 2011 by Marine LeGrand and Barthelemy Chalvet. In 2012 Barthelemy was offered the position of Lead Designer by Xola, a San Francisco based startup. It was through this experience that we formed the operational direction that guides the way we work with our clients to this day. We moved to Silicon Valley to work with Xola for 3 months. This first experience abroad allowed us to enrich both our technical and creative skills while also establishing a tight-knit relationship with our customer by working with them in close proximity. We not only found that we were able to gain a deep understanding of their universe, but we also learned valuable workplace techniques that helped optimize the way that we get things done. Such as organizing our work into "sprints", a practice commonly adopted by companies in San Francisco.
            Upon returning to France, we decided to pursue a similar dynamic with each of our customers by offering to “move in with them” for short periods of time. Working so closely with our customers to better understanding their activities, needs, targets, and objectives has become our main motivation.
						</p>
						<div class="container-el">
							<div class="el" data-img="img-newyork" data-card="card-newyork">
								<div class="timer"></div>
								<div class="text">
									<p class="place">NYC, US</p>
									<p class="pr">Keli Network</p>
								</div>
							</div>
							<div class="el" data-img="img-tokyo" data-card="card-tokyo">
								<div class="timer"></div>
								<div class="text">
									<p class="place">TOKYO, JAPAN</p>
									<p class="pr">Rakuten</p>
								</div>
							</div>
							<div class="el" data-img="img-sanfrancisco" data-card="card-sanfrancisco">
								<div class="timer"></div>
								<div class="text">
									<p class="place">SAN FRANCISCO, US</p>
									<p class="pr">Xola, ThoughSpot…</p>
								</div>
							</div>
							<div class="el" data-img="img-paris" data-card="card-paris">
								<div class="timer"></div>
								<div class="text">
									<p class="place">PARIS, FR</p>
									<p class="pr">Orange, Buzzman, Qonto, EDF…</p>
								</div>
							</div>
							<div class="el" data-img="img-montreal" data-card="card-montreal">
								<div class="timer"></div>
								<div class="text">
									<p class="place">MONTREAL, CA</p>
									<p class="pr">Travel Alberta, Shopify…</p>
								</div>
							</div>
							<div class="el" data-img="img-telaviv" data-card="card-telaviv">
								<div class="timer"></div>
								<div class="text">
									<p class="place">TEL AVIV, ISRAEL</p>
									<p class="pr">Marks App</p>
								</div>
							</div>
						</div>
					</div>
					<div class="container-img">
						<div class="container-slides">
							<div class="container-card">
								<div class="card card-newyork">
									<div class="title">Since 2013</div>
									<p>Keli Network</p>
								</div>
								<div class="card card-tokyo">
									<div class="title">In 2016</div>
									<p>Xola, Rakuten</p>
								</div>
								<div class="card card-sanfrancisco">
									<div class="title">Since 2012</div>
									<p>Uber, Xola, TheNeura...</p>
								</div>
								<div class="card card-paris">
									<div class="title">Since 2011</div>
									<p>Orange, Buzzman, MonDocteur...</p>
								</div>
								<div class="card card-montreal">
									<div class="title">In 2015</div>
									<p>Shopify, Travel Alberta</p>
								</div>
								<div class="card card-telaviv">
									<div class="title">In 2016</div>
									<p>Marks app</p>
								</div>
							</div>
							<div class="container-el">
								<div class="el img-newyork" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-trip/newyork.jpg)"></div>
								<div class="el img-tokyo" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-trip/tokyo.jpg)"></div>
								<div class="el img-sanfrancisco" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-trip/sanfrancisco.jpg)"></div>
								<div class="el img-paris" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-trip/paris.jpg)"></div>
								<div class="el img-montreal" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-trip/montreal.jpg)"></div>
								<div class="el img-telaviv" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-trip/telaviv.jpg)"></div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="section-team">

				<div class="wrapper">
					<div class="wrapper-text">
						<h2>WHO ARE WE ?</h2>
						<p class="desc wrapLine">
							An intimate team of UI / UX designers, full-stack developers and illustrators.						</p>
					</div>
					<div class="container-el">
						<div class="el" style="background-image: url(/AgenceMeV4/img/pages/agency/team/people1.jpg)">
							<div class="container-text">
								<div class="name">LEONARD CHALVET</div>
								<div class="job">Co-founder & CTO</div>
							</div>
						</div>
						<div class="el" style="background-image: url(/AgenceMeV4/img/pages/agency/team/people2.jpg)">
							<div class="container-text">
								<div class="name">BARTHELEMY CHALVET</div>
								<div class="job">Co-founder & Creative Director</div>
							</div>
						</div>
						<div class="el" style="background-image: url(/AgenceMeV4/img/pages/agency/team/people3.jpg)">
							<div class="container-text">
								<div class="name">MARINE LEGRAND</div>
								<div class="job">Co-founder & Product Designer</div>
							</div>
						</div>
						<div class="el" style="background-image: url(/AgenceMeV4/img/pages/agency/team/people4.jpg)">
							<div class="container-text">
								<div class="name">LOU BONTEMPS</div>
								<div class="job">Product Designer</div>
							</div>
						</div>
					</div>
					<div class="esperluette">&#x26;</div>
					<div class="container-el-2">
						<div class="container-text">
							<div class="name">VERA VOISHVILO</div>
							<div class="job">Illustrator</div>
						</div>
						<div class="container-text">
							<div class="name">RAPHAEL BACCO</div>
							<div class="job">Back-end Developpeur</div>
						</div>
						<div class="container-text">
							<div class="name">ALEXIS PREVOST-MAYNEN</div>
							<div class="job">Front-end Developpeur</div>
						</div>
						<div class="container-text">
							<div class="name">THIBAULT BETTENCOURT</div>
							<div class="job">Product Designer</div>
						</div>
					</div>
				</div>
				
			</section>

			<section id="section-quotes">

				<div class="container-title">
					<h2>DON'T JUST TAKE<br> OUR WORD FOR IT !</h2>

				</div>

				<div class="container-quotes">
					<div class="wrapper-quotes">
						<div class="quote">
							<div class="logo">
								<img src="AgenceMeV4/img/pages/services/logo/ThoughtSpot-logo-quote.png" alt="ThoughtSpot Logo" title="ThoughtSpot Logo">
							</div>
							<div class="text">
								<p>
									« AgenceMe's creative and beautiful designs helped launch our company! Would recommend Barthelemy and their work any day! »								</p> 
							</div>
							<div class="name">
								<p>
									Anand Raghavan								</p>
							</div>
							<div class="job">
								<p>
									Senior Director Product Management, ThoughtSpot								</p>
							</div>
							<div class="link">
								<a href="">
									@raghavan_anand								</a>
							</div>
						</div>

						<div class="quote">
							<div class="logo">
								<img src="AgenceMeV4/img/pages/services/logo/xola-logo-quote.png" alt="XOLA Logo" title="XOLA Logo">
							</div>
							<div class="text">
								<p>
									« AgenceMe are brilliant designers. I’ve with them for over four years and we’ve completed hundreds of design projects. They have nuanced attention to color, information architecture, negative space, and balance—aspects that are part of superior design, but are hard to identify, let get right. They are also some of the most prolific people I’ve ever with. »								</p>
							</div>
							<div class="name">
								<p>
									J. Scott Zimmerman								</p>
							</div>
							<div class="job">
								<p>
									Co-founder of Xola								</p>
							</div>
						</div>

						<div class="quote">
							<div class="logo">
								<img src="AgenceMeV4/img/pages/services/logo/Orange-logo-quote.png" alt="Orange Logo" title="Orange Logo">
							</div>
							<div class="text">
								<p>
									« We had the chance to work with AgenceMe four times on various projects for the web or mobile applications. What we liked was their swiftness and the great quality their design that will always get you that "wow" effect »								</p>   
							</div>
							<div class="name">
								<p>
									Miguel Labranche								</p>
							</div>
							<div class="job">
								<p>
									Product manager at Orange Labs								</p>
							</div>
							<div class="link">
								<a href="">
									@miglabranche								</a>
							</div>
						</div>

						<div class="quote">
							<div class="logo">
								<img src="AgenceMeV4/img/pages/services/logo/chauffeur-prive-logo-quote.png" alt="Chauffeur Prive Logo" title="Chauffeur Prive Logo">
							</div>
							<div class="text">
								<p>
									« Fast and efficient, knew how to respect our several constraints and collaborate with all our departments of our company, to redesign our marketing website » 								</p>
							</div>
							<div class="name">
								<p>
									Remi Bardoux								</p>
							</div>
							<div class="job">
								<p>
									Product Manager at Chauffeur-Privé								</p>
							</div>
						</div>

						<div class="quote">
							<div class="logo">
								<img src="AgenceMeV4/img/pages/services/logo/engie-logo-quote.png" alt="Engie Logo" title="Engie Logo">
							</div>
							<div class="text">
								<p>
									« We had ideas, AgenceMe glorified them. They work with the same passion as us, the same degree of requirement on the quality while staying in our listening. Bonus: they are great »								</p>
							</div>
							<div class="name">
								<p>
									Olivier Bertil								</p>
							</div>
							<div class="job">
								<p>
									PetitBus Co-founder at ENGIE								</p>
							</div>
							<div class="link">
								<a href="">
									@obertil								</a>
							</div>
						</div>
					</div>
				</div>

			</section>

			<section id="section-methodology">
				<div class="container-title">
					<h2>USING THE BEST TOOLS<br>HELPS KEEP US EFFICIENT</h2>
				</div>
				<div class="wrapper">
					<div class="container-img">
						<div class="bg" style="background-image: url(/AgenceMeV4/img/pages/agency/section-methodology-bg.jpg)"></div>
					</div>
					<div class="container-text">
						<p class="text wrapLine">
							When we’re deep in a project sprint, it’s critical that we strike a balance between efficient creative production and maintaining a close relationship with our customers. To accomplish this, we use the top tools in the industry to facilitate vital operations like framing projects and hitting deadlines, allowing the client to comment on our work as it progresses and organizing conference calls, to name a few.						</p>
						<div class="wrapper-el">
							<div class="title">WE USING:</div>
							<div class="container-el">
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Slack.svg" alt="">
									<span>Slack</span>
								</div>
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Sketch.svg" alt="">
									<span>Sketch</span>
								</div>
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Bitbucket-blue.svg" alt="">
									<span>Bitbucket</span>
								</div>
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Dropbox.svg" alt="">
									<span>Dropbox</span>
								</div>
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/AfterEffect.svg" alt="">
									<span>After Effect</span>
								</div>
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Invision.svg" alt="">
									<span>Invision</span>
								</div>
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Figma.svg" alt="">
									<span>Figma</span>
								</div>

								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/SublimeText.svg" alt="">
									<span>Sublime Text</span>
								</div>

								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Framer.svg" alt="">
									<span>Framer</span>
								</div>

								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Abstract.svg" alt="">
									<span>Abstract</span>
								</div>
								
								<div class="el">
									<img src="AgenceMeV4/img/pages/agency/tools/Principle.svg" alt="">
									<span>Principle</span>
								</div>


							</div>
						</div>
					</div>
					
				</div>
			</section>
	
			<section id="section-office">
				
				<div class="wrapper-pres">
					<div class="container-title">
						<h2>THE AGENCY INSITE<br>LE STUDIO COWORKING</h2>
					</div>
					<div class="container-pres">
						<a class="btn" href="http://lestudio-rouen.com/" target="_blank">
							<p class="anim-btnHover-2">VISIT WEBSITE</p>
						</a>
						<p class="desc">
							Our own coworking space in France and set up our agency there. Thus, Studio Coworking was born in June 2016.						</p>
					</div>
				</div>
				<div class="wrapper-img">
					<div class="container-action">
						<div class="btn">

							<svg class="progress active" viewBox="0 0 120 120">
						        <circle cx="60" cy="60" r="54">
						    </svg>

						    <svg class="arrow"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 11">
								<use xlink:href="AgenceMeV4/svg/pages/home/arrow-1.svg#arrow-1"></use>
							</svg>

						</div>
					</div>
					<div class="container-el">
						<div class="el show" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-16.jpg)"></div>
						<div class="el" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-22.jpg)"></div>
						<div class="el" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-23.jpg)"></div>
						<div class="el" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-39.jpg)"></div>
						<div class="el" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-47.jpg)"></div>
						<div class="el" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-58.jpg)"></div>
						<div class="el" style="background-image:url(/AgenceMeV4/img/pages/agency/slider-coworking/coworking-lestudio-95.jpg)"></div>
					</div>
				</div>
				<div class="wrapper-text">
					<p>
						During our travels we have had to, on many occasions and to this day, search for the best workplace in a given city. Top criteria include high speed wifi and good coffee. This is how we discovered places like WeWork in New York, Le Fab Cafe in Tokyo and Halte 24-7 in Montreal. We enjoyed these spaces not just for their optics, but also for the relationships thatthey can help create in giving freelancers and startups a chance to meet. That’s why we decided to create our own coworking space in Rouen and set up our agency there. Thus, Studio Coworking was born in June 2016.					</p>
					
				</div>

			</section>

		</div>

		<footer>

	<a class="container-logo" href="us/">		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 37">
			<use xlink:href="AgenceMeV4/svg/src-common/AgenceMe-Logo.svg#AgenceMe-Logo"></use>
		</svg>
	</a>
	
	<div class="content">
		

		<div class="container-xeu">
			<div class="crp"><a href="us/sitemap">© 2018 AgenceMe</a></div>			<div class="sep"></div>
			<a class="job" target="_blank" href="https://angel.co/agenceme-2/jobs/314906-senior-ui-ux-designer?utm_campaign=talent&utm_content=promote_jobs_box-listing&utm_medium=al_tweet&utm_source=twitter&utm_term=agenceme-2">WE’RE HIRING</a>
		</div>

		<div class="container-wrp">
			<div class="container-rs">
				<a href="https://twitter.com/AgenceMe" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 12">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Twitter-icn.svg#Twitter-icn"></use>
					</svg>
				</a>
				<a href="https://www.instagram.com/agenceme/" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Instagram-icn.svg#Instagram-icn"></use>
					</svg>
				</a>
				<a href="https://dribbble.com/AgenceMe" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Dribbble-icn.svg#Dribbble-icn"></use>
					</svg>
				</a>
				<a href="https://www.facebook.com/agenceME/?ref=br_rs" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 14">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Facebook-icn.svg#Facebook-icn"></use>
					</svg>
				</a>
				<a href="https://www.behance.net/agenceme" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 13">
						<use xlink:href="AgenceMeV4/svg/src-common/header/Behance-icn.svg#Behance-icn"></use>
					</svg>
				</a>
			</div>
			<div class="language">
				us				<div class="dropdown">
					<a class="lg" href="fr/equipe-web-creative">
						FR
					</a>
					<a class="lg" href="us/digital-agency-san-francisco">
						US
					</a>
				</div>
			</div>
		</div>
		
	</div>

</footer><script type="text/javascript" src="AgenceMeV4/js/src-common/common_index.js"></script>
<script type="text/javascript" src="AgenceMeV4/js/src-common/header_index.js"></script>
<script type="text/javascript" src="AgenceMeV4/js/src-common/footer_index.js"></script>
	    <script type="text/javascript" src="AgenceMeV4/js/src-common/jquery.parallax-scroll.js"></script>

	    <script type="text/javascript" src="AgenceMeV4/js/pages/agency_index.js"></script>

	</body>

</html>